Playbooks/Without Parameters/Send_Email_ADGroups/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "Send_Email_ADGroups",
            "location": "eastus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Join": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "To": "securityengineering@ccbcmd.edu",
                                    "Subject": "Alert - @{triggerBody()?['object']?['properties']?['title']}",
                                    "Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Incident Title:</strong></b> @{triggerBody()?['object']?['properties']?['title']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Severity:</strong></b> @{triggerBody()?['object']?['properties']?['severity']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Incident Creation:</strong></b> @{triggerBody()?['object']?['properties']?['createdTimeUtc']}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Description:</strong></b> Account Added or Removed from a sensitive or privileged group.</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Users</strong></b>: @{body('Join')}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Incident Link</strong></b>: @{triggerBody()?['object']?['properties']?['incidentUrl']}</p><br><p class=\"editor-paragraph\">Please check incident link above to view the privileged group in question.</p>",
                                    "Importance": "High"
                                },
                                "path": "/v2/Mail"
                            }
                        },
                        "Entities_-_Get_Accounts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                            "actions": {
                                "Parse_JSON": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "accountName": {
                                                    "type": "string"
                                                },
                                                "upnSuffix": {
                                                    "type": "string"
                                                },
                                                "sid": {
                                                    "type": "string"
                                                },
                                                "aadUserId": {
                                                    "type": "string"
                                                },
                                                "isDomainJoined": {
                                                    "type": "boolean"
                                                },
                                                "additionalData": {
                                                    "type": "object",
                                                    "properties": {
                                                        "UserPrincipalName": {
                                                            "type": "string"
                                                        },
                                                        "AccountName": {
                                                            "type": "string"
                                                        },
                                                        "DomainName": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "friendlyName": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "Accounts-New",
                                        "value": "@body('Parse_JSON')?['additionalData']?['UserPrincipalName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variables": {
                            "runAfter": {
                                "Entities_-_Get_Accounts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Accounts-New",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Join": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Join",
                            "inputs": {
                                "from": "@variables('Accounts-New')",
                                "joinWith": "; "
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel-1": {
                                "id": "/subscriptions/291b0d60-693e-467b-8ded-df99775b753d/providers/Microsoft.Web/locations/eastus/managedApis/azuresentinel",
                                "connectionId": "/subscriptions/291b0d60-693e-467b-8ded-df99775b753d/resourceGroups/CCBCSentinelResourceGroup/providers/Microsoft.Web/connections/azuresentinel-TestPlayBook",
                                "connectionName": "azuresentinel-TestPlayBook",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365-1": {
                                "id": "/subscriptions/291b0d60-693e-467b-8ded-df99775b753d/providers/Microsoft.Web/locations/eastus/managedApis/office365",
                                "connectionId": "/subscriptions/291b0d60-693e-467b-8ded-df99775b753d/resourceGroups/CCBCSentinelResourceGroup/providers/Microsoft.Web/connections/office365-3",
                                "connectionName": "office365-3"
                            }
                        }
                    }
                }
            }
        }
    ]
}